<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <title>Thoughts</title>
</head>
<header class="header">
  <p class="">username</p>
  <a href="/logout">logout</a>
  <div>
    <h1 class="display-1">Thoughts</h1>
  </div>
</header>

<body>

  <a href="/compose">
    <button class="btn btn-light">Add</button>

  </a>
  <div>
    <h3>title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est officia nesciunt ullam, accusamus explicabo alias
      aut ad illo repellat necessitatibus.</p>
  </div>

</body>

</html>